@define-color box-color rgb (58, 81, 223);
@define-color text-color rgba (17,17,17,1);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: '0xProto Nerd Font Propo' ; /*, FontAwesome, Roboto, Helvetica, Arial, sans-serif, NerdFont ; */
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 0px ;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
    background-color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @box-color;
    border-radius: 3px;
}

#workspaces button {
    padding: 0 5px;
    background-color: #577ff9;
    color:rgba(17, 17, 27, 1 );
    border-radius: 3px;
}

#workspaces button:hover {
    background: @box-color;
}

#workspaces button.focused {
    background-color: @box-color;
    box-shadow: inset 0 -3px rgba (17, 17, 27, 1);
}

#workspaces button.urgent {
    background-color: @box-color;
    box-shadow: inset 0 -3px rgba (17, 17, 27, 1);
}
#workspaces button.active {
    background-color: @box-color;
    box-shadow: inset 0 -3px @box-color;
}

#mode {
    background-color: @box-color;
    box-shadow: inset 0 -3px #ffffff;;
}

#clock,
#network,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#nm-applet,
#mpd {
    padding: 0 10px;
    color: #ffffff;;
}
#nm-applet {
    background-color: rgba (255,0,0,1);
    border: solid;
    border-radius: 3px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock{
    background-color: @box-color;
    border: solid;
    border-radius: 3px;
    color: @text-color;
}

#battery {
    background-color: @box-color;
    color: @text-color;
    border: solid;
    border-radius: 3px;
}

#battery.charging, #battery.plugged {
    color: @text-color;
    background-color: @box-color;
}

@keyframes blink {
    to {
        background-color: #FFFFFF;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @box-color;
    color: #ffffff;;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: solid;
    border-radius: 3px;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @box-color;
    color: #000000;
    border: solid;
    border-radius: 3px;
}

#memory {
    background-color: @box-color;
    border: solid;
    border-radius: 3px;
    color: @text-color;
}
	
#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#custom-network {
    background-color: @box-color;
    color: @text-color;
    border: solid;
    border-radius: 3 5px;
}

#network.disconnected {
    background-color: #AFCBFD;
}

#pulseaudio {
    background-color: @box-color;
    color: @text-color;
    border: solid;
    border-radius: 3px;
}

#pulseaudio.muted {
    background-color: @box-color;
    color: @text-color;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @box-color;
    border: solid;
    border-radius: 3px;
    color: @text-color;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @box-color;
    border-style: solid;
    border-radius: 3px;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
    border-style: solid;
    border-radius: 3px
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-networks {
    background-color: @box-color;
    color: @text-color;
    border: solid;
    border-radius: 3px;
    padding: 30 5px;
}

#custom-drawer {
    background-color: @box-color;
    color: @text-color;
    border: solid;
    border-radius: 3px;
    padding: 3 3px;
}

#custom-notification {
    background-color: @box-color;
    color: @text-color;
    border: solid;
    border-radius: 3px;
    padding: 3 7px;
}

.networks {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  padding: 0 0px;
}
/*
#group_network:hover #network {
  color: inherit;
  background-color: transparent;
  border-color: inherit;
  color: transparent;
}

#group_network:hover #network {
  display: none;
  font-size: 0px;
  color: white;
  padding: 0 0px;
}
*/
